*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 120%;
    background: rgb(213, 213, 233);
    padding-bottom: 50px;
}
.header{
     width: 30%;
     margin: 50px auto 0px;
     color: white;
     background: -webkit-linear-gradient(left,#0072ff,#8811c5);
     text-align: center;
     border: 1px solid #B0C4DE;
     border-bottom: none;
     border-radius: 10px 10px 0px 0px;
     padding: 20px;

}
form{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group{
    margin: 10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align: right;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn{

display:block;
width:100%;
color:#ffffff;
height:50px;
border:none;
background: linear-gradient(90deg,#0072ff,#8811c5);
background-size: 100%;
outline:none;
cursor:pointer;
transition:.4s;
}
.btn:hover{
background: linear-gradient(90deg,#8811c5,#0072ff);
color:#ffffff;
font-weight: bold;
}
.signin{
    margin-left: 40%;
}
.member{
    margin-left: 30%;
}