*{
    margin: 0;
    padding: 0;
}
.center-div{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading{
    width: 100%;
    line-height: 40px;;
    font-size: 1.4 rem;
    background: -webkit-linear-gradient(left,#0072ff,#8811c5);
    font-family: 'Grenze', serif;
}
    form{
       width: 400px;
    }
    .btn{

        display:block;
        width:100%;
        color:#ffffff;
        height:50px;
        border:none;
        background: linear-gradient(90deg,#0072ff,#8811c5);
        background-size: 100%;
        outline:none;
        cursor:pointer;
        transition:.4s;
        }
        .btn:hover{
        background: linear-gradient(90deg,#8811c5,#0072ff);
        color:#ffffff;
        font-weight: bold;
        }
    .signup{
        margin-left: 40%;
    }
    .member{
        margin-left: 30%;
        margin-top: 10px;
    
    }